{% extends 'layout.html' %}

{% block body %}

    <div class="container my-3 text-center">
        <h3>Streamline Your Queues, Elevate Customer Experience!</h3>

        <img src="static/images/queue-1.jpg" alt="queue_image" style="max-width: 100%; height: 50vh;">

        <h5 class="my-3">Transform customer service with robust queue management</h5>

        {% if session.logged_in %}
        <a href="/dashboard" class="btn btn-outline-success" role="button">Dashboard</a>
        <span style="margin: 0 10px;"></span> <!-- Adding a space between buttons -->
        <a href="/logout" class="btn btn-outline-danger" role="button">Logout</a>
        {% else %}
        <a href="/register" class="btn btn-outline-success" role="button">Register</a>
        <span style="margin: 0 10px;"></span> <!-- Adding a space between buttons -->
        <a href="/login" class="btn btn-outline-success" role="button">Login</a>
        {% endif %}
    </div>

    <div class="container my-4 text-center">
        <h4 class="mb-3">Our Customers</h4>

        <div class="row logos-container">
            <div class="card">
                <img src="static/images/lorem-bank-logo.jpg" alt="Company 1" class="logo-img">
            </div>
            <div class="card">
                <img src="static/images/coal-city-university.jpg" alt="Company 2" class="logo-img">
            </div>
            <div class="card card-fixed-size">
                <img src="static/images/042-bank-logo.jpg" alt="Company 3" class="logo-img">
            </div>
            <div class="card card-fixed-size">
                <img src="static/images/lorem-logo.jpg" alt="Company 4" class="logo-img">
            </div>
            <!-- Add more company cards here -->
        </div>

    </div>

{% endblock %}