{% extends 'layout.html' %}

{% block body %}

  <div class="my-3">
		<h3 class="text-center">How It Works</h3>

	<div class="how-grid-container">

		<div class="how-grid-item how-text-item">
				<h5>Step 1: Create Your Queue</h5>  
					<ul>
						<li>Sign up or log in to your account.</li>
						<li>Click on the "Create Queue" button.</li>
						<li>Enter a unique name for your queue and set any desired preferences or instructions.</li>
						<li>Save your queue, and it's ready to go!</li>
					</ul>
		</div>

		<div class="how-grid-item">
			<div class="how-image-container">
				<img src="static/images/how/create-queue.jpg" alt="create queue">
			</div>
		</div>

		<div class="how-grid-item how-text-item">
			<h5>Step 2: Share Your Queue</h5> 
					<ul>
						<li>Once your queue is created, you'll receive a unique URL and a QR code.</li>
						<li>Share the URL or display the QR code at your service location.</li>
						<li>Customers or participants can easily join the queue by scanning the QR code or visiting the provided URL.</li>
					</ul>
		</div>

		<div class="how-grid-item">
			<div class="how-image-container">
				<img src="static/images/how/share-queue.jpg" alt="create queue">
			</div>
		</div>
		
		<div class="how-grid-item how-text-item">
			<h5>Step 3: Have Customers Join the Queue</h5> 
			<ul>
				<li>Customers or participants access the queue by clicking on the URL or scanning the QR code.</li>
				<li>They enter their relevant details, such as name or contact information.</li>
				<li>After joining the queue, they receive a confirmation with their position in the queue.</li>
			</ul>
		</div>

		<div class="how-grid-item">
			<div class="how-image-container">
				<img src="static/images/how/join-queue.jpg" alt="create queue">
			</div>
		</div>

		<div class="how-grid-item how-text-item">
			<h5>Step 4: Manage Your Queue</h5>
			<ul>
				<li>As the queue owner, you have a dedicated page to manage your queue.</li>
				<li>Monitor the list of attendees in real-time, seeing their names and positions.</li>
				<li>Attendees who have been served can be removed with a simple click of the "X" button.</li>
				<li>The queue automatically updates and displays the new positions for the remaining attendees.</li>
			</ul>
		</div>

		<div class="how-grid-item">
			<div class="how-image-container">
				<img src="static/images/how/manage-queue.jpg" alt="create queue">
			</div>
		</div>

		<div class="how-grid-item how-text-item">
			<h5>Step 4: Real-Time Updates</h5>
			<ul>
				<li>Attendees can check their current position in the queue by refreshing the provided URL.</li>
				<li>The system dynamically updates their position, keeping them informed about their wait time.</li>
			</ul>
		</div>
		
		<div class="how-grid-item">
			<div class="how-image-container">
				<img src="static/images/how/updates.jpg" alt="create queue">
			</div>
		</div>

	</div>

    </div>

{% endblock %}