{% extends 'layout.html' %}

{% block body %}

<div class="container text-center">
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    {% if position == 2 %}
      <h4 class="my-3">Hi!</h4>
      <h6>Thank you for joining the {{ queue_name }} queue!</h6>
      <h3>You're next in line!</h3>
    {% elif position == 1 %}
      <h4 class="my-3">Hi!</h4>
      <h6>Thank you for joining the {{ queue_name }} queue!</h6>
      <h3>It's your turn!</h3>
    {% elif position == 0 %}
      <h3 class="my-3">Thank you for banking with us!</h3>
      <p>Have a great day!</p>
    {% else %}
    <h4 class="my-3">Hi!</h4>
      <p>Your current position on the queue is:</p>
      <h1>{{ position }}</h1>
      <h6>Please refresh this page periodically to get your updated position!</h6>
    {% endif %}
  {% endif %}
</div>

{% endblock %}
